<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "^(app-switcher|catalog)\.js$">
    Header set Cache-Control "public, max-age=300, must-revalidate"
    Header set Access-Control-Allow-Origin "*"
    Header set X-Content-Type-Options "nosniff"
  </FilesMatch>
</IfModule>
