VITE_APP_REST_API_BASE_URL=
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_DB_CONNECTION=Username-Password-Authentication
VITE_AUTH0_GOOGLE_CONNECTION=google-oauth2
VITE_AUTH0_MICROSOFT_CONNECTION=windowslive
