<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
  <Files "app-switcher.js">
    Header set Cache-Control "public, max-age=300, must-revalidate"
    Header set Access-Control-Allow-Origin "*"
  </Files>
</IfModule>

